@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(229.56deg, rgba(80, 234, 255, 0.16) 11.39%, rgba(250, 181, 181, 0.16) 83.51%), linear-gradient(112.92deg, rgba(255, 235, 235, 0.8) 0%, rgba(217, 250, 255, 0.92) 99.17%);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
